.App{
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
margin-top: 51px;
}

.entire-form{
  background-color: #44b09e;
  background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
}  

.color{
  margin-top: 70px;
}


.form-group{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
.btn{
width: 345px;
}


.movie {
  background-color: rgba(128, 128, 128, 0.596);
  border-radius: 25px;
  text-align: center;
  height: min-content;



}


.movie-list{
  display: flex;
 gap: 10px;
 margin-top: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img{
  object-fit: cover;
  height: 500px;
  width: 340px;
  border: 5px solid gold;
  border-radius: 25px;
  transition-duration: 0.5s;
  
}

.img:hover{
  height: 550px;
  width: 390px;
  cursor: pointer;
}




p{
  color: rgb(255, 183, 0);
}

.summary-div{
  display: flex;
  justify-content: center;   
}

.summary{
  width: 340px;
  display: inline-block;
  overflow: hidden;
}

li{
  display: inline;
  list-style: none;
}
li:link{
  text-decoration: none;
}
.error{
  width: 100%;
}